html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  display: table;
}

body {

    display: table-cell;
    vertical-align: middle;
}

.appContent {
  background: url("../images/imagedraw.jpg");
  background-size: cover;
  height: 600px;
  width: 700px;
  /*border: black solid 1px;*/
  margin: 0 auto;
}


.nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav:hover {
  cursor: pointer;
}

.nav-home, .nav-about, .nav-projects, .nav-contact {
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.nav-home {
  background-color: transparent;
}

.nav-about {
  background-color: #B5AEA8;
}

.nav-projects {
  background-color: #E5E5E2;
}

.nav-contact {
  background-color: #191814;
  color: #E5E5E2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #191814;
}

.home {
  background-color: transparent;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #E5E5E2;
}

.about {
  background-color: #B5AEA8;
  height: 550px;
}

.about-greeting {
  float: left;
  margin-left: 75px;
  margin-top: 60px;
}

.about-me {
  clear: both;
  padding: 20px 75px 75px 75px;
  color: #191814;
  margin: 0 auto;
  line-height: 30px;
}


.projects {
  background-color: #E5E5E2;
  height: 550px;
}

.contact {
  background-color: #191814;
  height: 550px;
}

.home-greeting {
  text-align: center;
  font-size: 5em;
  width: 50%;
  margin-top: 150px;
  text-shadow: 1px 2px 8px #191814;
}

.home-subgreeting {
  text-align: center;
  font-size: 1.5em;
  width: 50%;
  margin-top: 40px;
  text-shadow: 1px 2px 8px #191814;
}

.home-tag {
  font-size: 1.5em;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  text-shadow: 1px 2px 8px #191814;
}

.contact-info {
  margin: 0 auto;
  padding: 50px 0;
  width: 70%;
  color: #E5E5E2;
}

.contact-list {
  margin: 0 auto;
  padding: 10px;
  list-style-type: none;
  width: 50%;
  border: 1px solid #E5E5E2;
}

.contact-list-item {
  padding: 10px;
  color: #E5E5E2;
}

.contact-link {
  color: #E5E5E2;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-link:hover {
  cursor: pointer;
}

.icon {
  height: 30px;
  margin-right: 20px;
}


.appContent-welcome {
  height: 550px;
  width: 100%;
}

.modal .modal-dialog {
  width: 60%;
}
.resume {
    margin: 0 auto;
  height: 500px;
  width: 100%;
}
.resume-object {
  margin: 0 auto;
  height: 500px;
  width: 100%;
}

.closeModal {
  /*color: #191814;*/
  float: right;
}

.showResume {
  color: #191814;
  background-color: transparent;
}