html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  display: table;
}

body {

    display: table-cell;
    vertical-align: middle;
}

.appContent {
  background: url("../images/imagedraw.jpg");
  background-size: cover;
  height: 600px;
  width: 700px;
  border: black solid 1px;
  margin: 0 auto;
}


.nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav:hover {
  cursor: pointer;
}

.nav-about, .nav-projects, .nav-contact {
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.nav-about {
  background-color: transparent;
}

.nav-projects {
  background-color: #E5E5E2;
}

.nav-contact {
  background-color: #191814;
  color: #E5E5E2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #191814;
}


.about {
  background-color: transparent;
  height: 100%;
}

.projects {
  background-color: #E5E5E2;
  height: 100%;
}

.contact {
  background-color: #191814;
  height: 100%;
}


.appContent-welcome {
  height: 550px;
  width: 100%;
}